@if(movie.hasValue()) {
  <div class="flex flex-col text-xs lg:text-sm gap-5 mt-10 lg:mt-15">
    <div class="flex flex-wrap items-center font-bold text-yellow-600 gap-3">
      <h3>{{ 'recommendations.description' | translate }}</h3>
      <a class="rounded-full bg-yellow-900/50 px-3 py-2"
      [routerLink]="['/movie', `${idSlug()}`]">{{ movie.value().title }}</a>
    </div>
    <p class="text-stone-300 leading-relaxed">
      <span class="font-bold">{{ 'recommendations.paragraph.highLightText' | translate }}</span> {{ 'recommendations.paragraph.text1' | translate }} <a class="text-yellow-600 font-bold" [routerLink]="linkSimilarMovies()">{{ 'recommendations.paragraph.link' | translate }}</a> {{ 'recommendations.paragraph.text2' | translate }}
    </p>
  </div>
  <categories [menuItems]="menuItems()"/>
  <load-relationed [movieId]="movie.value().id" typeResult="recommendations"/>
} @else {
  <div class="flex mt-10 lg:mt-15">
    <notification [notificationTitle]="'recommendations.notification.title' | translate"
    [message]="'recommendations.notification.message' | translate"/>
  </div>
}
