@if(carouselConfig().movies.length > 0) {
  @if(carouselConfig().carouselTitle) {
    <carousel-title [carouselTitle]="carouselConfig().carouselTitle!"/>
  }
  @if(carouselConfig().text) {
    <p class="text-xs lg:text-sm leading-relaxed pb-5">{{ carouselConfig().text }}</p>
  }
  <carousel [totalCards]="getTotalMovies()" [widthCardContainer]="getWidthPosterContainer()" [bgControl]="getBgControl()">
    @for(movie of carouselConfig().movies; track movie.id) {
      <section class="relative flex flex-col shadow-md" #poster>
        <poster-movie [movie]="movie"/>
        @if(movie.id > 0) {
          <footer-poster [movie]="movie"/>
        }
      </section>
    }
  </carousel>
}
