<div [class]="classListModal()">
  <div [class]="classListModalContent()">
    <button class="absolute top-2 right-4 bg-yellow-600 text-stone-900 rounded-full hover:cursor-pointer text-xl lg:text-2xl" (click)="onClose()">
      <fa-icon [icon]="faCircleXmark"></fa-icon>
    </button>
    <h2 class="text-xl font-bold bg-yellow-600 text-stone-900 rounded-t-md shadow-md py-2 pl-6">Filtrar por...</h2>
    <div [class]="classListFilterContainer()">
      <filter-genre [genresSelected]="this.queryParams().withGenres!" (emitGenresMovieSelected)="onGenresMovieSelected($event)"/>
      @if(currentComponent() === 'released') {
        <filter-vote-average [voteAverageSelected]="this.queryParams().voteAverageGte!" (emitVoteAverage)="onVoteAverage($event)"/>
      }
    </div>
  </div>
</div>
