@if(movieDetail()) {
  <production-countries [productionCountries]="movieDetail().production_countries"/>
  <badge-section [titleSection]="'detailMovie.sideDetail.languages' | translate" [badges]="movieDetail().spoken_languages"/>
  <info-item [label]="'detailMovie.sideDetail.status' | translate" [value]="movieDetail().status"/>
  <badge-section [titleSection]="'detailMovie.sideDetail.productionCompanies' | translate" [badges]="movieDetail().production_companies"/>
  @if(movieKeywords.hasValue()) {
    <badge-section [titleSection]="'detailMovie.sideDetail.keywords' | translate" [badges]="movieKeywords.value()"/>
  }
}
