@if(movieDetail().production_countries.length > 0) {
  <production-countries [productionCountries]="movieDetail().production_countries"/>
  <hr class="text-stone-700">
}
@if(movieDetail().spoken_languages.length > 0) {
  <badge-section titleSection="Idiomas:" [badges]="movieDetail().spoken_languages"/>
  <hr class="text-stone-700">
}
<info-item label="Estado:" [value]="movieDetail().status"/>
@if(movieDetail().production_companies.length > 0) {
  <hr class="text-stone-700">
  <badge-section titleSection="Compañias productoras:" [badges]="movieDetail().production_companies"/>
}
@if(movieKeywords().length > 0) {
  <hr class="text-stone-700">
  <badge-section titleSection="Palabras clave:" [badges]="movieKeywords()"/>
}
