<h1 class="text-xl lg:text-3xl font-bold text-yellow-600 text-center pb-10 lg:pb-15">
  Términos y condiciones de uso del sitio
</h1>
<paragraph text="Bienvenido a MovieVerso. Al acceder o utilizar nuestro sitio web, aceptas los siguientes Términos y Condiciones. Si no estás de acuerdo con alguno de estos términos, por favor abstente de utilizar el sitio."/>

<secondary-header header="1. Descripción del servicio"/>
<paragraph text="MovieVerso es una aplicación web que permite explorar y descubrir películas de manera sencilla y rápida. Gracias a la integración con la API de TMDB, los usuarios del sitio pueden buscar películas por nombre, género, popularidad fecha de estreno y/u otros criterios."/>

<secondary-header header="2. Uso adecuado del sitio"/>
<paragraph text="El usuario se compromete a no utilizar el sitio con fines ilícitos, fraudulentos o que afecten el funcionamiento del mismo o los derechos de terceros. Está prohibido intentar acceder a sistemas restringidos o manipular el contenido y la seguridad del sitio."/>

<secondary-header header="3. Responsabilidad del usuario"/>
<paragraph text="El usuario será responsable del uso que haga del sitio. MovieVerso no garantiza la disponibilidad ininterrumpida del servicio ni la precisión de la información obtenida de fuentes externas como TMDB."/>

<secondary-header header="4. Limitaciones de responsabilidad"/>
<paragraph text="MovieVerso no se hace responsable por fallos del sistema, interrupciones del servicio, pérdida de datos o cualquier daño derivado del uso o la imposibilidad de uso del sitio."/>

<secondary-header header="5. Propiedad intelectual"/>
<paragraph text="El diseño, nombre, logo y código fuente de MovieVerso son propiedad exclusiva de sus desarrolladores. Las imágenes, iconos y datos provienen de TMDB, Freepik y Font Awesome y son utilizados bajo sus respectivas licencias."/>

<secondary-header header="6. Legislación aplicable"/>
<paragraph text="Estos Términos se rigen por la legislación colombiana. En caso de conflictos, las partes se someterán a los jueces y tribunales de Colombia, salvo disposición legal en contrario."/>

<secondary-header header="7. Modificaciones"/>
<paragraph text="MovieVerso se reserva el derecho de modificar en cualquier momento estos Términos y Condiciones. Cualquier modificación será publicada en el sitio web y surtirá efectos desde su publicación."/>
