@if(movieDetail().release_date) {
  <tag type="calendar" [text]="movieDetail().release_date.toString()"/>
}
<h2 class="text-xl md:text-3xl lg:text-5xl text-yellow-600 font-semibold my-3">{{ movieDetail().title }}</h2>
@if(movieDetail().tagline) {
  <span class="text-xs lg:text-sm text-stone-300 font-semibold">{{ movieDetail().tagline }}</span>
}
@if(movieDetail().overview) {
  <p class="text-xs lg:text-sm text-stone-300 leading-relaxed mt-10 mb-5">{{ movieDetail().overview }}</p>
}
<div class="flex flex-col lg:flex-row justify-between gap-4">
  <badge-list [badgeList]="movieDetail().genres"/>
  <div class="flex items-center gap-4">
    <rating type="popularity" [value]="movieDetail().popularity"/>
    <rating type="vote_average" [value]="movieDetail().vote_average"/>
    <rating type="vote_count" [value]="movieDetail().vote_count"/>
  </div>
</div>
