<div class="flex flex-col min-w-[200px] max-w-[200px] rounded-md shadow-md">
  <a [routerLink]="['/detalle-pelicula', movie().id]">
    <img class="w-full h-72 rounded-t-md object-cover object-center" [src]="srcImage()">
  </a>
  <div class="flex justify-between items-center bg-stone-800 rounded-b-md p-3">
    <fa-icon class="yellow-color" [icon]="faBokmark"></fa-icon>
    <div class="flex gap-3">
      <popularity [popularity]="movie().popularity"/>
      <vote [vote]="movie().vote_average"/>
    </div>
  </div>
</div>