@if(movie.hasValue()) {
  <div class="flex flex-col text-xs lg:text-sm gap-5 mt-10 lg:mt-15">
    <div class="flex flex-wrap items-center font-bold text-yellow-600 gap-3">
      <h3>{{titleDescription()}}</h3>
      <a class="rounded-full bg-yellow-900/50 text-yellow-600 px-3 py-2"
      [routerLink]="['/movie', `${idSlug()}`]">{{movie.value().title}}</a>
    </div>
    <p class="text-stone-300 leading-relaxed">
      <span class="font-bold">¿Te gustó esta película?</span> Entonces, te tenemos otras joyas listas para ver. Aquí tienes títulos que podrían encantarte si ya te atrapó la anterior. ¡Dale play a nuevas aventuras! Pero si estas no son suficientes, seguro estas otras <a class="text-yellow-600 font-bold"[routerLink]="linkSimilarMovies()">similares</a> te atraparán. Diferentes títulos, mismo impacto emocional.
    </p>
  </div>
  <categories [menuItems]="menuItems()"/>
  <load-relationed [movieId]="movie.value().id" typeResult="recommendations"/>
} @else {
  <div class="flex mt-10 lg:mt-15">
    <notification notificationTitle="¿Película fantasma?" message="Ups... no encontramos esta película. Tal vez se escapó del set o aún no ha sido estrenada. ¡Intenta con otra!"/>
  </div>
}
