@if(movie.hasValue()) {
  <div class="flex flex-col gap-5 pt-12 lg:pt-15">
    <h3 class="text-sm lg:text-xl font-bold rounded-full text-yellow-600 gap-2">
      {{ titleDescription() }}
    </h3>
    <p class="text-xs lg:text-sm text-stone-300 leading-relaxed">
      <span class="font-bold">¿Te gustó esta película?</span> Entonces, te tenemos otras joyas listas para ver. Aquí tienes títulos
      que podrían encantarte si ya te atrapó la anterior. ¡Dale play a nuevas aventuras! Pero si estas
      no son suficientes, seguro estas otras <a class="text-yellow-600 font-bold"
      [routerLink]="linkSimilarMovies()">similares</a> te atraparán. Diferentes títulos, mismo impacto
      emocional.
    </p>
  </div>
  <categories [menuItems]="menuItems()"/>
  <load-results [movieId]="movie.value().id" typeResult="recommendations"/>
} @else {
  <div class="flex mt-10 lg:mt-15">
    <notification notificationTitle="¿Película fantasma?" message="Ups... no encontramos esta película. Tal vez se escapó del set o aún no ha sido estrenada. ¡Intenta con otra!"/>
  </div>
}
