@if(getFlagCountries().length > 0) {
  <span class="text-xs lg:text-sm text-yellow-600 font-semibold">{{ 'detailMovie.sideDetail.productionCountries' | translate }}</span>
  @for (flagCountry of getFlagCountries(); track flagCountry.name) {
    <div class="flex items-center gap-3">
      <img class="w-10 bg-cover bg-center" [src]="flagCountry.flag" [alt]="flagCountry.name" loading="lazy">
      <span class="text-xs lg:text-sm">{{ flagCountry.name }}</span>
    </div>
  }
  <hr class="text-stone-700 mt-5">
}
