<footer class="flex flex-col md:flex-row justify-center items-center text-stone-400 gap-2 md:gap-5 p-5">
  <span class="text-xs lg:text-sm">&copy; 2025-MovieVerso</span>
  <span class="text-xs lg:text-sm"><a class="underline" routerLink="/terms-and-conditions">Términos y condiciones</a></span>
  <!--<span class="text-xs lg:text-sm"><a class="underline" routerLink="/politica-de-privacidad">Política de privacidad</a> | <a class="underline" routerLink="/terminos-y-condiciones">Términos y condiciones</a></span>-->
</footer>
