<carrusel-title [carruselTitle]="carruselTitle()"/>
<div class="relative overflow-hidden" #carouselContainer>
  <div class="flex transition-transform duration-500 ease-in-out gap-4"
  [style.transform]="'translateX(-' + scrollStep() + 'px)'">
    @for(movie of movies(); track $index) {
      <carrusel-card-movies [movie]="movie"/>
    }
  </div>
  @if(scrollStep() > 0) {
    <button (click)="prev()" class="absolute left-0 top-1/2 -translate-y-1/2 bg-stone-50/80 hover:bg-stone-50 hover:cursor-pointer h-full bg-linear-to-r from-stone-900 to-stone-900/80 z-10 px-1 lg:px-1.5">
      <fa-icon class="text-2xl lg:text-3xl" [icon]="faAngleLeft"></fa-icon>
    </button>
  }
  @if(scrollStep() < totalScrollStep()) {
    <button (click)="next()" class="absolute right-0 top-1/2 -translate-y-1/2 bg-stone-50/80 hover:bg-stone-50 hover:cursor-pointer h-full bg-linear-to-l from-stone-900 to-stone-900/80 z-10 px-1 lg:px-1.5">
      <fa-icon class="text-2xl lg:text-3xl" [icon]="faAngleRight"></fa-icon>
    </button>
  }
</div>