<carrusel-title [carruselTitle]="carruselTitle()" [route]="route()"/>
<div class="relative overflow-hidden" #carouselContainer>
  <div class="flex transition-transform duration-500 ease-in-out gap-4"
  [style.transform]="'translateX(-' + scrollStep() + 'px)'">
    @for(movie of movies(); track $index) {
      <carrusel-card-movies [movie]="movie"/>
    }
  </div>
  @if(scrollStep() > 0) {
    <carrusel-button direction="previous" (emitDirection)="onClick($event)"/>
  }
  @if(scrollStep() < totalScrollStep() - 16) {
    <carrusel-button direction="next" (emitDirection)="onClick($event)"/>
  }
</div>
