<nav class="hidden lg:flex lg:justify-between lg:items-center my-3">
  <logo/>
  <navigation-bar layoutClass="hidden lg:flex lg:gap-5"/>
  <search-bar layoutClass="hidden lg:flex"/>
  <sign-in layoutClass="hidden lg:flex items-center gap-3"/>
</nav>
<nav class="flex flex-col lg:hidden justify-center mt-3">
  <logo/>
  <div class="flex w-full justify-between items-center mt-5">
    <navigation-bar layoutClass="flex gap-4"/>
    <sign-in layoutClass="flex items-center gap-4"/>
  </div>
  <search-bar layoutClass="flex w-full mt-5"/>
</nav>