@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin 'tailwindcss-primeui';

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('../public/fonts/montserrat-regular.woff2') format('woff2');
  }

  .bg-blue-color {
    background-color: #00638d;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --font-monteserrat: 'Montserrat';
}
