@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin 'tailwindcss-primeui';

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('../public/fonts/montserrat-regular.woff2') format('woff2');
  }

  body {
    background-image: url('../public/images/bg-universe-planets.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --font-monteserrat: 'Montserrat';
}
